<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
   <title>Document</title>
</head>
<body>
   <footer>
     
      <div class="link">
         <p> Copyright © <%= new Date().getFullYear() %>  </p> 
         <ul>
            <li>
               <a href="#">
                  <i class="fa-brands fa-facebook"></i>
               </a>
            </li>
            <li>
               <a href="#">
                  <i class="fa-brands fa-instagram"></i>
               </a>
            </li>
            <li>
               <a href="#">
                  <i class="fa-brands fa-twitter"></i>
               </a>
            </li>
            <li>
               <a href="#">
                  <i class="fa-brands fa-linkedin"></i>
               </a>
            </li>
        </ul>
      </div>
   </footer>
</body>
</html>




