
    <header>
        <div class="logo">Coffee</div>
        <div class="list">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/menu">MENU</a>
                </li>
                  <li>
                    <a href="/about">ABOUT US</a>
                  </li>
                <li>
                    <a class="highlight" href="/contact">CONTACT US</a>
                </li>
               
            </ul>
            
        </div>

    </header>



    



