<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/about.css">
    <title>About</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <%- include("partials/header.ejs") %>

            <div class="about">

                <div class="img">
                    <img src="/images/hot-beverages.png" alt="">
                </div>
                
                <div class="about-us">
                    <h1>ABOUT US</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reiciendis minus facilis velit 
                   repellendus quisquam ipsum quas perspiciatis placeat unde, qui maiores culpa natus similique sequi 
                   earum doloremque libero rem asperiores obcaecati inventore et, officia minima magnam! Rem, eligendi 
                   dicta corrupti odio iste quisquam doloremque voluptatibus, quidem error aperiam magnam ducimus 
                   consequatur porro cum temporibus eius incidunt architecto quia placeat possimus officiis, ratione nobis </p>
                   <a class="highlight" href="#">Read More</a>
                </div>
            </div>
        <%- include("partials/footer.ejs") %>
        
        
        </div>
        </div>
</body>
</html>






