<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="container">




        <div class="box">
            <%- include("partials/header.ejs") %>
            <h1>Contact</h1>
        <div class="contact-1">

            <div class="part-1">
               
                <div>
                    <h3>EMAIL</h3>
                    <p>coffee@gmail.com</p>
                </div>
                <div>
                    <h3>PHONE</h3>
                    <p>1234567890</p>
                </div>

                <div>
                    <h3>ADDRESS</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat nemo minima exercitationem odio sint culpa?</p>
                </div>
            </div>   


                <div class="part-2">
                    <form action="#">
                        <input type="text" placeholder="User Name">
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                        <input id="btn" type="submit" placeholder="Submit">
                    </form>
                </div>
                <div class="part-3">
                    <ul>
                        <li>
                           <a href="#">
                              <i class="fa-brands fa-facebook"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fa-brands fa-instagram"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fa-brands fa-twitter"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fa-brands fa-linkedin"></i>
                           </a>
                        </li>
                    </ul>
                </div>
            

        </div>
        
        </div>
        </div>
</body>
</html>



