<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Project</title>
</head>
<body>
    <div class="container">

        <div class="box">
        <%- include("partials/header.ejs") %>
        <div class="home">
            <div class="content">
                <h1> Best Coffee</h1>
                <h4>
                    Make your day great with our 
                </h4>
                <h4>special coffee!</h4>
                <P>
                    Welcome to our coffee paradise every bean tells 
                </P>
                <p>a story and every cup sparks joy.</p>
                <div class="btn">
                    <a href="#">Order Now</a>
                    <a class="highlight" href="/contact">Contact Us</a>
                </div>
            </div>
            <div class="img1">
                <img src="/images/coffee-hero-section.png" alt="">
            </div>
        </div>
        
        
        <%- include("partials/footer.ejs") %>
        
        </div>
        </div>
</body>
</html>



