<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/menu.css">
    <title>Menu</title>
</head>
<body>
    <div class="container">
    <div class="box">
        <%- include("partials/header.ejs") %>
        <h2>OUR MENU</h2>
        <div class="items">

            <div class="item">
                <img src="/images/hot-beverages.png" alt="">
                <div class="item-content">
                    <h3>Hot Beverages</h3>
                    <p>Wide range of steaming hot cofee to make you fresh and light</p>
                </div>
            </div>

            <div class="item">
                <img src="/images/refreshment.png" alt="">
                <div class="item-content">
                    <h3>Refreshment</h3>
                    <p>Fruit and icy refreshing drink to make feel refresh</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/cold-beverages.png" alt="">
                <div class="item-content">
                    <h3>Cold Beverages</h3>
                    <p>Creamy and frothy cold coffee to make you cool</p>
                </div>

            </div>

            <div class="item">
                <img src="/images/burger-frenchfries.png" alt="">
                <div class="item-content">
                    <h3>Burger & French Frise</h3>
                    <p>Quick bites to satisfy your small size hunger</p>
                </div>
            </div>
            <div class="item">
                <img src="/images/desserts.png" alt="">
                <div class="item-content">
                    <h3>Dessert</h3>
                    <p>Quick bites to satisfy your small size hunger</p>
                </div>
            </div>
          
            <div class="item">
                <img src="/images/special-combo.png" alt="">
                <div class="item-content">
                    <h3>Special Combos</h3>
                    <p>Your loverite eating and drinkink combination</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>